body{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(54,75,230);
    background: linear-gradient(90deg, rgba(54,75,230,1) 0%, rgba(202,144,245,1) 42%, rgb(255, 147, 228) 100%);
    line-height: 1.5em;
}
/* Navbar style */
.navbar{
    background-color: #FFFFFF;
}
#navbarSupportedContent
{
    margin-top: auto;
    margin-bottom: auto;
}
.navbar-nav > li{
    padding-left:25px;
    padding-right:25px;
}
.navbar-light .navbar-nav .nav-link {
    color: #1f1f1f;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #000000;
}
.active{
    font-weight: bold;
}
/* Logo*/
.logo{
    width:115px;
    height:50px;
}
/* Avatar */
.avatar
{
    width: 200px;
    max-height: 200px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}
/* Form input style */
.form-select:focus {
    border-color: #dc8fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(166 19 181 / 26%);
}
.form-control:focus {
    border-color: #dc8fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(166 19 181 / 26%);
}
/* Dropdown filter style */
.dropdownFilter {
    opacity: 50%;
    height: 2.5rem;
    padding: 8px;
    width: 20%;;
}
/* Button style */
/* submit */
.btn-submit {
    color: #FFFFFF;
    background-color: #c568d7;
    border-color: #e1a5cf;
}
.btn-submit:focus{
    box-shadow: 0 0 0 0.25rem rgb(166 19 181 / 25%);
}
/* modify */
.btn-modify {
    color: #FFFFFF;
    background-color: #5e8dcc;
    border-color: #4e9eb6;
}
.btn-modify:focus{
    box-shadow: 0 0 0 0.25rem rgb(0 90 190 / 25%);
}
/* delete */
.btn-delete {
    color: #FFFFFF;
    background-color: #9234a5;
    border-color: #9b22b9;
}
.btn-delete:focus{
    box-shadow: 0 0 0 0.25rem rgb(120 0 120 / 25%);
} /* search */
.btn-search {
    color: #FFFFFF;
    background-color: #e968cd;
    border-color: #ee86e0;
}
.btn-search:focus{
    box-shadow: 0 0 0 0.25rem rgb(250 50 250 / 25%);
}
/* Login style */
.loginForm{
    margin-top: 2rem;
    background: #ffffff;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}
.loginForm > h3{
    margin-top: 15px;
    font-weight: bold;
}
.baseBox{
    margin-top: 2rem;
    background: #FFFFFF;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 2em;
}
.baseBox > h4{
    margin-bottom: auto;
    font-weight: bold;
}
.baseBox > h3{
    text-align: center;
    margin-bottom: auto;
    font-weight: bold;
}
/* Form style */
.createForm{
    margin-top: 2rem;
    background: #ffffff;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}
.createForm > h3{
    margin-top: 15px;
    font-weight: bold;
}
/* List of element style */
.catalogForm{
    margin-top: 2rem;
    background: #ffffff;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}
.catalogForm > h4{
    margin-top: 15px;
    font-weight: bold;
}
/* Error message */
.errorMessage{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.4rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
/* Scroll bar */
/* ::-webkit-scrollbar{
    border-radius: 100vw;
    background-color: green;
    width: 1em;
    height: 100;
}
::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background-color: red;
} */