body{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background: #c0b6e6;
    line-height: 1.5em;
}
/* Navbar style */
.navbar{
    background-color: #FFFFFF;
}
#navbarSupportedContent
{
    margin-top: auto;
    margin-bottom: auto;
}
.navbar-nav > li{
    padding-left:25px;
    padding-right:25px;
}
.navbar-light .navbar-nav .nav-link {
    color: #1f1f1f;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #000000;
}
.active{
    font-weight: bold;
}
.logo{
    width:115px;
    height:50px;
}
/* Form input style */
.form-select:focus {
    border-color: #dc8fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(166 19 181 / 26%);
}
.form-control:focus {
    border-color: #dc8fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(166 19 181 / 26%);
}
/* Button style */
.btn-submit {
    color: #FFFFFF;
    background-color: #c568d7;
    border-color: #e1a5cf;
}
.btn-submit:focus{
    box-shadow: 0 0 0 0.25rem rgb(166 19 181 / 26%);
}
/* Login style */
.loginForm{
    margin-top: 2rem;
    background: #ffffff;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}
.loginForm > h3{
    margin-top: 15px;
    font-weight: bold;
}
/* Form style */
.createForm{
    margin-top: 2rem;
    background: #ffffff;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}
.createForm > h3{
    margin-top: 15px;
    font-weight: bold;
}
.searchById{
    margin-top: 2rem;
    background: #FFFFFF;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}
.searchById > h4{
    text-align: center;
    margin-top: 30%;
    margin-bottom: auto;
    font-weight: bold;
}
/* Error message */
.errorMessage{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.4rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}